* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
ul,
li {
  list-style: none;
}
a{
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.active {
  color: #ba3126;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader */
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 16px;
  height: 16px;
  margin: 3rem 0.2rem;
  background: #8385aa;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.active {
  color: red;
  font-weight: 600;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");


/* Header */
.nav {
  display: flex;
}
.nav li {
  margin: 3rem 0.5rem;
  font-weight: 900;
  font-size: 1.2rem;
}
.link {
  text-decoration: none;
}


/* LanguageButtonHeader */
.language-nav button {
  border: none;
  margin: 0 0.8rem;
  background-color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
}


/* cards item */
.repo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 32px;
  justify-content: center;
  border-radius: 10px;
}
.repo-list li {
  padding: 20px;
  background-color: #eaebea;
}
.repo-list img {
  max-width: 180px;
  width: 100%;
  margin: 24px 0;
}
.repo-list h5 {
  color: #ba3126;
}
.repo-list p {
  margin-top: 0.7rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.repo-list i {
  padding: 0 0.7rem;
  color: #fdbf74;
}
.star i {
  color: #fed838;
}
.fork i {
  color: #81c3f5;
}
.issue i {
  color: #f18a93;
}
.fetch {
  padding: 1.3rem 0;
}

/* Battle */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instruction-card {
  margin: 3rem;
}
.instruction-icon {
  width: 200px;
  height: 200px;
  background-color: #ebebeb;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.8rem 0;
}

.players label {
  display: block;
}
.players input {
  padding: 0.3rem 1rem;
}
.submit {
  margin: 0.5rem;
  padding: 0.3rem 1.5rem;
}
.player-info {
  width: 400px;
  height: 100px;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  color: #ba3126;
  font-weight: 900;
  font-size: 1.2rem;
}
.player-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 0.5rem;
  object-fit: cover;
}
.battle-btn {
  margin: 2rem 0;
}
.battle-btn button {
  padding: 0.4rem 4.5rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 3px;
}

/* Result */
.battling-players {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
}
.battling-players img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.space-around {
  justify-content: space-around;
}
.container-sm {
  width: 80%;
  margin: 0 auto;
}
.winner-info {
  margin: 1rem;
  background-color: #ebebeb;
  padding: 2rem;
}
.score {
  font-size: 1rem;
  padding: 1.1rem 0;
  font-weight: 900;
}
.username {
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 900;
  color: #ba3126;
}
.winner-info p {
  font-size: 1.2rem;
  font-weight: 500;
}
.winner-info i {
  padding: 0 0.4rem;
}
.result-user {
  color: #ef7373;
}
.result-location {
  color: #9172fa;
}
.result-follower {
  color: #81c3f5;
}
.result-following {
  color: #55b75f;
}
.result-repo {
  color: #3b4c55;
}

/* Footer */
.footer{
  margin: 4rem 0;
}
.footer h5{
  font-size: 1rem;
  font-weight: 900;
  color: #81c3f5;
  word-spacing: 2px;
}

